.form {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.passwordField {
  margin-top: 21px;
}

.forgotButton {
  width: fit-content;
  margin-top: 14px;
  padding: 0;
  justify-content: flex-start;
}

.submitButton {
  margin-top: 38px;
  width: 100%;
}

@media (max-width: 640px) {
  .submitButton {
    margin-top: 28px;
  }
}